# Database
DATABASE_URL="postgresql://neondb_owner:npg_sOxFT2DJ7GAV@ep-bold-pine-aywlju3d-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Auth
AUTH_SECRET="c246959b117efe1799488803ac5c3a06aad2a2cce7f49f9e2d222a15abf7a4b5"
NEXTAUTH_URL="https://store-khaki-seven.vercel.app/"

# App
NEXT_PUBLIC_APP_URL="https://store-khaki-seven.vercel.app/"

# Cloudinary
CLOUDINARY_CLOUD_NAME="m3mncitj"
CLOUDINARY_API_KEY="165553569397158"
CLOUDINARY_API_SECRET="ydVTw1gcG7LxSIj6fzfcjNkvfB4"
CLOUDINARY_UPLOAD_PRESET="ml_default"
CLOUDINARY_ROOT_FOLDER="store"
CLOUDINARY_ENABLE_DELETE="true"
CLOUDINARY_DELETE_OLD_ON_REPLACE="true"
CLOUDINARY_CLEANUP_ORPHANS="false"

# Email (Resend)
RESEND_API_KEY="re_your-api-key"
EMAIL_FROM="noreply@yourdomain.com"
