DATABASE_URL="postgresql://neondb_owner:username@ep-bold-pine-aywlju3d-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Auth
AUTH_SECRET="your auth secret key"
NEXTAUTH_URL="https://example.com"

# App
NEXT_PUBLIC_APP_URL="https://example.com"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
CLOUDINARY_UPLOAD_PRESET="ml_default"
CLOUDINARY_ROOT_FOLDER="store"
CLOUDINARY_ENABLE_DELETE="true"
CLOUDINARY_DELETE_OLD_ON_REPLACE="true"
CLOUDINARY_CLEANUP_ORPHANS="false"

# Email (Resend)
RESEND_API_KEY="re_your-api-key"
EMAIL_FROM="noreply@yourdomain.com"